:root{
    --primary-soft: #f3f3f3;
}
*{
    font-family: Roboto;
}
.vh-100{
    height: 100vh;
}
.content{
    background-color: var(--primary-soft);
    overflow:scroll;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) inset;
}
.header{
    position:sticky;
    top:0;
    z-index: 2000;
}
.user-img{
    width:30px;
    height: 30px;
    border-radius: 50%;
}
/* .sidebar{

} */
.show-sidebar-btn{
    cursor: pointer;
}
.card{
    border:none;
}
.status-card{
    transition: 0.3s;
    
}
.status-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.status-card:active{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: red;
}
.ov-img{
    width: 30px;
    height: 30px;
    margin-left: -15px;
}
.item-carousel{
    margin-top: -100px;
}
.item-card-img{
    height: 200px;

}
.sub-list tr {
    transition: .3s;
    cursor: pointer;
}
.sub-list tr:active{
    transform: scale(1.02);
}
.full-screen-card{
    position: fixed;
    /* transform: scale(1.5); */
    top: 0;
    left: 0;
    z-index: 2005;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
@media screen and (max-width:780px){
    .sidebar{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background-color: white;
        margin-left: -100%;
    }
    .item-carousel-card{
        margin-top: 100px;
    }
}